lancedb==0.38.0

langchain==1.2.17
langchain-core==1.6.2
langchain-community==0.4.2
langchain-text-splitters==1.1.2
langchain-google-genai==4.4.0
langchain-openai==1.6.0
langchain-pinecone==0.2.13
langchain-tavily==0.2.18

langgraph==1.1.10
langgraph-checkpoint==4.2.0
langgraph-checkpoint-sqlite==3.0.2
langgraph-prebuilt==1.0.13
langgraph-sdk==0.3.15

tavily-python==0.8.1
polygon==1.2.8
setuptools
python-dotenv==1.2.3

fastapi==0.141.1
uvicorn==0.52.4
python-multipart==0.0.32
jinja2==3.1.6
docx2txt==0.9

ragas==0.3.1
datasets==5.0.1

-e .