lancedb
langchain==1.2.17
langgraph==1.1.10
langgraph-checkpoint-sqlite==3.0.2
langchain-community
langchain-tavily
langchain-pinecone
langchain-google-genai
langchain-openai
tavily-python
polygon
setuptools
python-dotenv
fastapi
uvicorn
python-multipart
jinja2
docx2txt
ragas
datasets
-e .